<footer th:fragment="footer" id="footer" class="text-center py-5">
  <div class="footer-center">
    <div class="footer-powered-by">
      <span th:text="#{poweredBy}"></span> 
      <a href="https://onyx-fin.com" target="_blank" th:text="'ONYX FIN'"></a> 
      <span th:text="'Računovodstvo'"></span>
    </div>
    <div>
      <a href="licenses" id="licenses" class="mx-1" title="" th:text="#{licenses.nav}"></a>
      <a href="terms-of-use" id="termsOfUse" class="mx-1" title="Privacy/Terms of Use/Cookies">Privacy/Terms of Use/Cookies</a>
      <a href="terms-of-use-hr" id="termsofUsehr" class="mx-1" title="Privatnost/Uvjeti Korištenja/Kolačići">Privatnost/Uvjeti Korištenja/Kolačići</a>
    </div>
  </div>
</footer>
