<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
  <head>
  <th:block th:insert="~{fragments/common :: head(title=#{licenses.title}, header=#{licenses.title})}"></th:block>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
          <div class="row justify-content-center">
             <div class="container">
                <h2>About the ONYX PDF website</h2>
                        <p>The owner of the website <a href="https://onyxpdf.com">https://onyxpdf.com</a> (hereinafter ONYX PDF) is the company:</p>
                        
                        <address>
                            <strong>ONYX FIN j.d.o.o.</strong><br>
                            Headquarters: Gornji Sroki 118, 51216 Viškovo<br>
                            Office: Prolaz Marije K. Kozulić 2, 51000 Rijeka, Croatia, business center Zagrad<br>
                            Web: <a href="https://onyx-fin.com">https://onyx-fin.com</a><br>
                            E-mail: <a href="mailto:onyxpdf@onyx-fin.com">onyxpdf@onyx-fin.com</a>
                        </address>
                        <p>ONYX PDF is a robust PDF document management platform powered by Docker and backed by an Open Source platform. The website offers a wide range of functionality, from simple operations such as merging and splitting PDFs to advanced features such as compression, OCR and conversions.</p>                        

                        <p>The platform guarantees the highest privacy and security since it does not make outgoing calls for the purpose of tracking or keeping records. All files and PDF documents remain either on the user side, temporarily stored on the server during the execution of tasks, or within a transient file created specifically for the execution of the task. After the user downloads the file, or closes the Internet browser, it is immediately deleted from the server.</p>
                        
                        <h2>Terms of use</h2>
                        <p>By using the website https://onyxpdf.com (hereafter ONYX PDF), it is considered that users are familiar with these terms of use at all times and that they fully understand and accept them.</p>

                        <p>ONYX PDF reserves the right to change the content and terms of use of the website without prior notice and is not responsible for any damage caused by these changes. The purpose and goal of the ONYX PDF website is to enable the public (individuals, companies, craftsmen, institutions, institutions and all interested parties) free and anonymous editing of PDF documents in order to help everyone who needs to edit PDF documents.</p>

                        <p>ONYX PDF fully disclaims any responsibility that is in any way related to the use of the site by the user, either by using or abusing the function of the Internet, and for any damage that may occur to the user or any third party in connection with the use or misuse of the Internet pages. ONYX PDF is not responsible for the contents of PDF and other documents that are processed on the website.</p>

                        <p>The ONYX PDF web application is hosted on servers in Frankfurt, Germany, EU, owned by DigitalOcean, LLC., VAT ID: EU528002224 based in New York, USA.</p>

                        <p>ONYX PDF tries to reduce technical errors when using the Internet site, but cannot guarantee that all functionalities will always be available, nor is it responsible for the eventual unavailability of the site.</p>

                        <p>Linking to ONYX PDF on other sites is allowed.</p>
                                                
                        <h2>Cookies</h2>
                        <p>Cookies are small files that your browser saves on your computer or mobile device when you visit our website (www.onyxpdf.com). This allows the Internet site to recognize your computer in order to offer you a personalized experience when moving through it, such as selecting certain language variants and other options of the web application itself. The cookies on our website are not aimed at spying on the user and do not follow everything the user does and are not malicious code or virus. They are also not related to unwanted messages (spam), they do not save your data - the website cannot access your personal information and files on your computer.</p>

                        <p>The cookies we use on this page are technical cookies, necessary for the functioning of this website, we cannot turn them off, and we do not need your consent to use this type of cookie. You can set your browser to block these cookies or send a warning about them, but in this case some parts of the site may not work.</p>

                        <p>Additionally, you can accept or reject some or all cookies by adjusting your browser settings. By searching Internet browsers, you can find information on how to change settings for some of the most commonly used Internet browsers: Mozilla Firefox, Google Chrome, Microsoft Internet Explorer, Apple Safari, Opera. Some browsers allow you to browse the Internet in "anonymous" mode, limiting the amount of data placed on your computer and automatically deleting persistent cookies placed on your computer or mobile device when you end your browsing session. There are also many third-party applications that you can add to your browser to block or manage cookies. You can also delete cookies that were previously placed in your browser by selecting the option to delete browsing history and turning on the option to delete cookies.</p>
                        
                        <h2>Privacy Policy</h2>
                        <h5>1. Information about the controller and data protection officer</h5>
                        <p>The processing manager is ONYX FIN j.d.o.o., OIB 39390765019, Gornji Sroki 118, 51216 Viškovo. For questions about the processing of your personal data, contact our data protection officer at e-mail:<a href="mailto:onyxpdf@onyx-fin.com">onyxpdf@onyx-fin.com</a> or by writing to our address: Gornji Sroki 118, 51216 Viškovo, with the indication "for the Data Protection Officer".</p>

                        <h5>2. Purpose and legal basis for the processing of personal data</h5>
                        <p>On the website <a href="https://onyx-fin.com">https://onyx-fin.com</a> (hereafter ONYX PDF), your IP address is temporarily collected, which is necessary for the purpose and goal of this website, which is editing PDF and other types of files, and in order to edit the files could be downloaded to your computer.</p>

                        <h5>3. Use of cookies</h5>
                        <p>The ONYX PDF website uses the so-called cookies – text files placed on the user's computer by the Internet server, through which the Internet access service provider (ISP) displays the website. Our pages use technical cookies (mandatory cookies, they cannot be turned off) that are necessary for the website to function. You can find more information in this document in the separate section "Cookies".</p>

                        <h5>4. Time period of storage of personal data</h5>
                        <p>We process your personal data until the purpose and goal of personal data processing is fulfilled. After the end of the purpose for which they were collected, your personal data are automatically deleted. After the user downloads the processed file, or closes the Internet browser, your personal data is deleted from the server.</p>

                        <h5>5. Your rights regarding personal data processing</h5>
                        <p>To exercise your rights, you can contact us in writing or by email using our contact information listed in point 1.</p>
                        <p>Your rights are: Right to access personal information, Right to correction of personal data, Right to deletion, Exceptions related to the exercise of the said right are provided for in Article 17, paragraph 3 of the General Regulation, Right to limit the processing of personal data, Right to object.</p>
                        <p>Please note that the website guarantees the highest privacy and security since it does not make outgoing calls for the purpose of tracking or keeping records. All files and PDF documents remain either on the user side, temporarily stored on the server during the execution of tasks, or within a transient file created specifically for the execution of the task. After the user downloads the file, or closes the Internet browser, it is immediately deleted from the server, as well as your personal data.</p>

                        <h5>6. Use of personal data</h5>
                        <p>We do not sell or rent any personal data about you to third parties, nor are we able to because of the technical characteristics of the web application itself.</p>

                        <h5>7. Security of personal data</h5>
                        <p>We take all appropriate technical and organizational security measures to prevent accidental or illegal destruction, loss, alteration, unauthorized use, disclosure, inspection or access to data.</p>

                        <h5>8. Privacy policy changes</h5>
                        <p>We regularly update the privacy policy so that it is accurate and up-to-date, and we reserve the right to change its content if we deem it necessary. You will be informed about all changes and additions in a timely manner through our website in accordance with the principle of transparency.</p>
                      </div>
                </div>
            </div>
        </div>
        <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
</body>
</html>
