<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/common :: head(title=#{licenses.title}, header=#{licenses.title})}"></th:block>
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
            <br><br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="container">
                        <h2>O web stranici ONYX PDF</h2>
                        <p>Vlasnik Internet stranice <a href="https://onyxpdf.com">https://onyxpdf.com</a> (u nastavku ONYX PDF) je tvrtka:</p>
                        
                        <address>
                            <strong>ONYX FIN j.d.o.o.</strong><br>
                            Sjedište: Gornji Sroki 118, 51216 Viškovo<br>
                            Ured: Prolaz Marije K. Kozulić 2, 51000 Rijeka, poslovni centar Zagrad<br>
                            Web: <a href="https://onyx-fin.com">https://onyx-fin.com</a><br>
                            E-mail: <a href="mailto:onyxpdf@onyx-fin.com">onyxpdf@onyx-fin.com</a>
                        </address>
                        <p>ONYX PDF robusna je platforma za upravljanje PDF dokumentima koju pokreće Docker, a iza koje stoji Open Source platforma. Internet stranica nudi širok raspon funkcionalnosti, od jednostavnih operacija kao što su spajanje i razdvajanje PDF-ova do naprednih značajki kao što su sažimanje, OCR i pretvorbe.</p>                        

                        <p>Platforma jamči najvišu privatnost i sigurnost budući da ne obavlja odlazne pozive radi praćenja ili vođenja evidencije. Sve datoteke i PDF dokumenti ostaju ili na strani korisnika, privremeno pohranjeni na poslužitelju tijekom izvršavanja zadataka ili unutar prolazne datoteke stvorene posebno za izvršenje zadatka. Nakon što korisnik preuzme datoteku, ili ugasi Internet preglednik, ona se odmah briše s poslužitelja.</p>
                        
                        <h2>Uvjeti korištenja</h2>
                        <p>Korištenjem Internet stranice https://onyxpdf.com (u nastavku ONYX PDF) smatra se da su korisnici u svakom trenutku upoznati s ovim uvjetima korištenja te da ih u potpunosti razumiju i prihvaćaju.</p>

                        <p>ONYX PDF zadržava pravo izmjene sadržaja i uvjeta korištenja Internet stranice bez obaveze prethodne najave te nije odgovorna za bilo kakvu štetu nastalu tim promjenama. Svrha i cilj Internet stranice ONYX PDF je omogućiti javnosti (pojedincima, poduzećima, obrtnicima, ustanovama, institucijama i svim zainteresiranima) besplatno i anonimno uređivanje PDF dokumenata u cilju pomoći svima koji imaju potrebu uređivati PDF dokumente.</p>

                        <p>ONYX PDF se u potpunosti odriče svake odgovornosti koja je na bilo koji način vezana uz korištenje stranice od strane korisnika bilo uporabom ili zlouporabom funkcije Internet stranice, te za bilo kakvu štetu koja može nastati korisniku ili bilo kojoj trećoj strani u vezi s uporabom ili zlouporabom Internet stranice. ONYX PDF ne odgovara za sadržaje PDF i drugih dokumenata koji se obrađuju na Internet stranici.</p>

                        <p>Web aplikacija ONYX PDF smještena je na serverima u Frankfurtu, Njemačka, EU, čiji vlasnik je tvrtka DigitalOcean, LLC., VAT ID: EU528002224 sa sjedištem u New York, SAD.</p>

                        <p>ONYX PDF nastoji smanjiti tehničke pogreške prilikom korištenja Internet stranice, no ne može jamčiti da će sve funkcionalnosti biti uvijek dostupne niti odgovara za eventualnu nedostupnost stranice.</p>

                        <p>Dopušteno je stavljati poveznicu ONYX PDF na druge stranice.</p>
                                                
                        <h2>Kolačići</h2>
                        <p>Kolačići (cookies) su male datoteke koje Vaš preglednik sprema na Vaše računalo ili mobilni uređaj prilikom posjete našem Internet mjestu (www.onyxpdf.com). To omogućuje Internet mjestu da prepozna Vaše računalo kako bi vam sukladno tome ponudili personalizirano iskustvo prilikom kretanja kroz njega, poput odabira pojedinih jezičnih varijanti i drugih opcija same web aplikacije. Kolačići na našem Internet mjestu nisu usmjereni na špijuniranje korisnika i ne slijede sve što korisnik radi te nisu zlonamjerni kod ili virus. Također nisu povezani s neželjenim porukama (spamom), ne spremaju Vaše podatke - Internet mjesto ne može pristupiti Vašim osobnim informacijama i datotekama na Vašem računalu.</p>

                        <p>Kolačići koje koristimo na ovoj stranici su tehnički kolačići, potrebni za funkcioniranje ovog Internet mjesta, ne možemo ih isključiti te za korištenje takve vrste kolačića ne trebamo vašu privolu. Svoj preglednik možete postaviti da blokira te kolačiće ili pošalje upozorenje o njima, ali u tom slučaju neki dijelovi stranice možda neće raditi.</p>

                        <p>Dodatno možete prihvatiti ili odbiti neke ili sve kolačiće prilagođavanjem postavki Vašeg preglednika. Pretragom na Internet pretraživačima možete pronaći informacije o tome kako promijeniti postavke za neke od najčešće korištenih Internet preglednika: Mozilla Firefox, Google Chrome, Microsoft Internet Explorer, Apple Safari, Opera.  Neki preglednici Vam omogućuju kretanje kroz Internet mjesto u “anonimnom” načinu rada, ograničavajući količinu podataka postavljenih na vašem računalu i automatsko brisanje trajnih kolačića postavljenih na vaše računalo ili mobilni uređaj kada završite sesiju pregledavanja. Postoje i mnoge aplikacije trećih strana koje možete dodati u preglednik da biste blokirali ili upravljali kolačićima. Možete i izbrisati kolačiće koji su prethodno bili postavljeni u vaš preglednik tako da odaberete opciju za brisanje povijesti pregledavanja i pritom uključite i opciju brisanja kolačića.</p>
                        
                        <h2>Politika Privatnosti</h2>
                        <h3>1. PODACI O VODITELJU OBRADE I SLUŽBENIKU ZA ZAŠTITU PODATAKA:</h4>
                        <p>Voditelj Obrade je tvrtka ONYX FIN j.d.o.o., OIB 39390765019, Gornji Sroki 118, 51216 Viškovo. Za pitanja o obradi Vaših osobnih podataka obratite se našem službeniku za zaštitu podataka na e-mail:<a href="mailto:onyxpdf@onyx-fin.com">onyxpdf@onyx-fin.com</a> ili pismenim putem na našu adresu: Gornji Sroki 118, 51216 Viškovo, s naznakom „za Službenika za zaštitu podataka“.</p>

                        <h4>2. SVRHA I PRAVNI TEMELJI ZA OBRADU OSOBNIH PODATAKA</h4>
                        <p>Na Internet stranici <a href="https://onyx-fin.com">https://onyx-fin.com</a> (u nastavku ONYX PDF) privremeno se prikuplja vaša IP adresa, a koja je nužna za izvršenje svrhe i cilja ove Internet stranice a to je uređivanje PDF i drugih vrsta datoteka, a kako bi uređene datoteke mogli preuzeti na svoje računalo.</p>

                        <h4>3. KORIŠTENJE KOLAČIĆA (COOKIES)</h4>
                        <p>Na Internet stranici ONYX PDF koriste se tzv. kolačići (cookies) – tekstualne datoteke koje na računalo korisnika smješta internetski poslužitelj (server), putem kojeg davatelj usluge pristupa Internetu (ISP) prikazuje web stranicu. Na našim stranicama koriste se tehnički kolačići (obavezni kolačići, ne mogu se isključiti) koji su nužni za funkcioniranje Internet mjesta. Više informacija možete pronaći u ovom dokumentu u zasebnom dijelu „Kolačići“.</p>

                        <h4>4. VREMENSKO RAZDOBLJE ČUVANJA OSOBNIH PODATAKA</h4>
                        <p>Vaše osobne podatke obrađujemo dok se ne ispuni svrha i cilj obrade osobnih podataka. Nakon prestanka svrhe u koju su prikupljeni, Vaši osobni podatci se automatski brišu. Nakon što korisnik preuzme obrađenu datoteku, ili ugasi Internet preglednik, Vaši osobni podaci se brišu s poslužitelja.</p>

                        <h4>5. KOJA SU VAŠA PRAVA U VEZI OBRADE OSOBNIH PODATAKA</h4>
                        <p>Za ostvarivanje svojih prava možete nam se obratiti pisanim putem ili putem elektroničke pošte koristeći naše kontakt podatke navedene u točki 1.</p>
                        <p>Vaša prava su:</p>
                        <p>Pravo na pristup osobnim informacijama, Pravo na ispravak osobnih podataka, Pravo na brisanje, Iznimke vezane uz ostvarivanje navedenog prava predviđene su člankom 17. stavkom 3. Opće uredbe,  Pravo na ograničavanje obrade osobnih podataka, Pravo na prigovor.</p>
                        <p>Napominjemo da Internet stranica jamči najvišu privatnost i sigurnost budući da ne obavlja odlazne pozive radi praćenja ili vođenja evidencije. Sve datoteke i PDF dokumenti ostaju ili na strani korisnika, privremeno pohranjeni na poslužitelju tijekom izvršavanja zadataka ili unutar prolazne datoteke stvorene posebno za izvršenje zadatka. Nakon što korisnik preuzme datoteku, ili ugasi Internet preglednik, ona se odmah briše s poslužitelja, kao i vaši osobni podaci.</p>

                        <h4>6. DAVANJE NA KORIŠTENJE OSOBNIH PODATAKA</h4>
                        <p>Ne prodajemo niti iznajmljujemo nikakve osobne podatke o vama trećim stranama, niti smo isto u mogućnosti zbog tehničkih karakteristika same web aplikacije.</p>

                        <h4>7. SIGURNOST OSOBNIH PODATAKA</h4>
                        <p>Poduzimamo sve odgovarajuće tehničke i organizacijske mjere zaštite kako bi spriječili slučajno ili nezakonito uništavanje, gubitak, izmjene, neovlašteno korištenje, otkrivanje, uvid ili pristup podatcima.</p>

                        <h4>8. PROMJENE POLITIKE PRIVATNOSTI</h4>
                        <p>Politiku privatnosti redovito ažuriramo kako bi ista bila točna i ažurna te zadržavamo pravo promjene sadržaja iste ako smatramo da je to nužno. O svim izmjenama i dopunama biti ćete pravovremeno informirani putem naše internetske stranice u skladu s načelom transparentnosti.</p>
                      </div>
                    
                </div>
            </div>
        </div>
        <th:block th:insert="~{fragments/footer.html :: footer}"></th:block>
    </div>
</body>
</html>
